@media screen and (max-width: 600px) {
    #search-input {
        max-width: none;
        width: 80%;
    }


    .search-popup-container{
        width: 100%;

        gap: 9px;

    }
    .search-popup-container .search-item{
        min-width: 100px;
        gap:5px;
        width: 50%;
    }
    .search-popup-container .search-item img{
        height: 60px;
        max-height: 100px;
        aspect-ratio: 1;
        
        }
    .search-popup-container .search-item p{

        font-size: 12px;
    
        
    }
    .search-popup-container .search-item p.arabic{
        
            font-size: 12px;
            
        }
        #second-header h2{
            width: 10ch;
            font-size: 16px;

        }
        #cart-div p{
            display: none;
        }











    #second-header-popup .popup-container{
		width: 97%;
        justify-content: flex-start;
	}
	.popup-keys {
		width: 70px;
	}
	.popup-key-item {
		width: 68px;
		border:none;
        border-right:none;
	}
	.popup-key-item p {
		margin-left: 4px;
	}
    .popup-keys{
        /* width: 150px; */
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: baseline;
        gap: 12px;
        border-right: var(--grey-color) 3px solid;
        
    
    }

}

@media screen and (max-width: 600px) {

 
}
